<template>
  <b-container class="bv-example-row bv-example-row-flex-cols">
    <div class="d-flex justify-content-center">
      <h1>I'm sorry, now is no posible get data</h1>
    </div>
  </b-container>
</template>

<script>
export default {
  name: "Error"
};
</script>