<template>
  <b-container class="bv-example-row bv-example-row-flex-cols">
    <div class="d-flex justify-content-center">
      <b-spinner style="width: 3rem; height: 3rem;" label="Large Spinner" type="grow"></b-spinner>
      <h1>Loading ...</h1>
    </div>
  </b-container>
</template>

<script>
export default {
  name: "Loader"
};
</script>