<template>
  <div id="nav">
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
        <b-nav-item class="tr-nav-item">
          <i class="fas fa-chevron-left" v-show="!isHome" v-on:click="goToHome()"></i>
        </b-nav-item>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "Header",
  props: {
    isHome: Boolean
  },
  methods: {
    goToHome() {
      this.$emit("goToHome", true); // Se emite el evento goToHome para que lo escuche el papa y haga el cambio de vista correspondiente.
    }
  }
};
</script>

<style>
.tr-nav-item {
  min-height: 2.5em;
}
</style>