<template>
  <div>
    <TrLoader v-show="isLoading"/>
    <TrError v-show="isError"/>
    <TrDomain v-show="!isLoading && !isError" :domain="domain"/>
  </div>
</template>

<script>
// @ is an alias to /src
import TrDomain from "@/components/Domain.vue";
import TrLoader from "@/components/shared/Loader.vue";
import TrError from "@/components/shared/Error.vue";

import domainService from "@/Services/domainService";

export default {
  name: "DomainDetail",
  props: {
    domainData: { type: Object, required: false } // Propiedad utilizada para enviar la data desde la vista de historial.
  },
  data() {
    return {
      domain: {},
      isLoading: false,
      isError: false
    };
  },
  components: {
    TrDomain,
    TrLoader,
    TrError
  },
  created() {
    // Cuando se crea la vista de detalle del dominio se emite el método showBackButton para no mostrar el
    // botón atrás.
    this.$emit("showBackButton", false);
    this.isLoading = true;

    // Se realiza validación que se encarga de validar si la data viene atraves de la propiedad domainData,
    // es decir cuando se presiona en "see details" del historial, por lo cual se tiene la data y no es necesario
    // realizar una consulta nueva.
    if (this.domainData && this.domainData.title) {
      this.domain = this.domainData;
      this.isLoading = false;
    } else {
      // Si no viene la data es porque se esta buscando como nuevo desde el campo de busqueda, por lo cual hay que
      // consultar en el backEnd.
      const domain = this.$route.params.domain;
      domainService
        .search(domain)
        .then(data => {
          data.logo = data.logo ? data.logo : require("../assets/logo.png");
          this.domain = data;
          this.isLoading = false;
          this.isError = false;
        })
        .catch(error => {
          console.log(error);
          this.isLoading = false;
          this.isError = true;
        });
    }
  }
};
</script>