<template>
  <b-container class="bv-example-row center">
    <img alt="Vue logo" src="../assets/logo.png">
    <TrSearch/>
    <TrLoader v-show="isLoading"/>
    <TrHistory v-show="!isLoading" :history="history"/>
  </b-container>
</template>

<script>
// @ is an alias to /src
import TrHistory from "@/components/History.vue";
import TrSearch from "@/components/Search.vue";
import TrLoader from "@/components/shared/Loader.vue";

import domainService from "@/Services/domainService";

export default {
  name: "home",
  data() {
    return {
      response: {},
      history: [],
      isLoading: false
    };
  },
  components: {
    TrHistory,
    TrSearch,
    TrLoader
  },
  methods: {},
  created() {
    this.isLoading = true;

    domainService
      .history()
      .then(data => {
        this.isLoading = false;
        data.forEach(domain => {
          domain.HostData.logo = domain.HostData.logo
            ? domain.HostData.logo
            : require("../assets/logo.png");
        });
        this.history = data;
      })
      .catch(error => console.log(error));
  }
};
</script>
<style>
.center {
  text-align: center;
  color: #2c3e50;
}
</style>
