<template>
  <div>
    <b-container class="bv-example-row">
      <b-row class="d-flex align-items-center">
        <b-col class="d-flex align-items-center" cols="1" md="auto">
          <b-img v-bind="mainProps" :src="domain.logo" rounded="circle" alt="Circle image"></b-img>
        </b-col>
        <b-col col lg="2">
          <h2>{{domain.name}}</h2>
        </b-col>
      </b-row>
      <p>{{domain.title}}</p>
      <p>
        <strong>Ssl grade:</strong>
        {{domain.ssl_grade}}
      </p>
      <p>
        <strong>Previous ssl:</strong>
        {{domain.previous_ssl_grade}}
      </p>
      <p>
        <strong>Server changed:</strong>
        {{domain.server_changed}}
      </p>
      <h2>Servers</h2>
      <b-card-group deck>
        <TrServer v-for="s in domain.Servers" v-bind:key="s.ipAddress" :server="s"/>
      </b-card-group>
    </b-container>
  </div>
</template>

<script>
import TrServer from "@/components/Server.vue";

export default {
  props: {
    domain: { type: Object }
  },
  data() {
    return {
      mainProps: {
        blankColor: "#777",
        width: 20,
        height: 20,
        class: "m1"
      }
    };
  },
  components: {
    TrServer
  }
};
</script>
