<template>
  <div>
    <h3>Busquedas recientes</h3>
    <ul class="list-unstyled">
      <b-card tag="li" v-for="h in history" v-bind:key="h.HostData.id">
        <b-media>
          <b-img v-bind="mainProps" :src="h.HostData.logo" rounded="circle" alt="Circle image"></b-img>
          <h5 class="mt-0 mb-1">{{h.name}}</h5>
          <p class="mb-0">
            <strong>Level ssl:</strong>
            {{h.HostData.ssl_grade}}
          </p>
          <b-button variant="link" v-on:click="goToDomainDetail(h.name, h.HostData)">See Details</b-button>
        </b-media>
      </b-card>
    </ul>
  </div>
</template>

<script>
export default {
  name: "History",
  props: {
    history: Array
  },
  data() {
    return {
      mainProps: {
        blankColor: "#777",
        width: 20,
        height: 20,
        class: "m1"
      },
      isLoading: true
    };
  },
  methods: {
    // Método encargado de ir a la vista de detalle del dominio, enviando la data por medio de la
    // propiedad domainData, a la vista de DomainDetail, que a su ves lo envía al componente Domain.
    goToDomainDetail(domain, domainData) {
      domainData.name = domain;
      this.$router.push({ name: "detail", params: { domain, domainData } });
    }
  }
};
</script>
