<template>
  <div class="search-bar">
    <div class="input-group">
      <b-form-input
        class="form-control"
        placeholder="Search"
        name="srch-term"
        id="srch-term"
        type="text"
        v-model="domain"
        @keyup.enter.native="goToDomainDetail(domain)"
      ></b-form-input>
      <button
        v-on:click="goToDomainDetail(domain)"
        class="input-group-text lighten-3"
        type="submit"
      >
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Search",
  data() {
    return {
      domain: ""
    };
  },
  methods: {
    goToDomainDetail(domain) {
      this.$router.push({ name: "detail", params: { domain } });
    }
  }
};
</script>
