
<template>
  <b-card :title="server.ipAddress">
    <b-card-text>Ssl grade {{server.grade}}</b-card-text>
    <b-card-text>Country: {{server.country}}</b-card-text>
    <b-card-text>Owner: {{server.owner}}</b-card-text>
  </b-card>
</template>

<script>
export default {
  name: "server",
  props: {
    server: { type: Object }
  }
};
</script>