<template>
  <div>
    <TrHeader :isHome="isHome" v-on:goToHome="goToHome"/>
    <router-view v-on:showBackButton="setShowBackButton"/>
  </div>
</template>

<script>
// @ is an alias to /src
import TrHeader from "@/components/layout/Header.vue";

export default {
  name: "home",
  data() {
    return {
      isHome: true
    };
  },
  components: {
    TrHeader
  },
  methods: {
    // Método que escucha el evento showBackButton emitido desde el hijo DomainDetail, el cual
    // envía el valor false para no mostrar el botón atrás.
    setShowBackButton(iIsHome) {
      this.isHome = iIsHome;
    },
    // Método que escucha el evento goToHome emitido desde el hijo Header, encargado de realizar el cambio
    // de vista a home, cuando se presiona el botón atrás del Header y se emite el evento gotoHome
    goToHome() {
      this.isHome = true;
      this.$router.push({ name: "home" });
    }
  }
};
</script>
